@import "/icons.css";

:root {
  --me: #b46bff;
  --me-tinted: #8029d8;
  --darker-text: #7f7f7f;
  --dark-text: #aaaaaa;
  --bg: #0a0a0a;
  --highlight: #1f1f1f;
  --light: #f5f5f5;

  /* langs */
  --lang-rust: #d34516;
  --lang-typescript: #3178c6;
  --lang-vue: #43b782;
  --lang-python: #306998;
}

* {
  font-family: Hack, "Consolas", "Lucida Console", "Courier New", Courier, monospace;
  color: #ffffff;
  box-sizing: border-box;
}

a {
  color: var(--me);
}

body {
  background-color: var(--bg);
  min-height: 100dvh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

body > * {
  text-align: center;
  width: fit-content;
}

main {
  margin: auto 1em;
}

p {
  margin: 0.5em 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex.row {
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

nav.breadcrumbs {
  margin: 1em;
}

nav.breadcrumbs * {
  color: var(--darker-text);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--darker-text);
}

.quiet {
  color: var(--darker-text);
}

.logo {
  width: 15em;
  border: 0.5em solid var(--me);
}

.smolrotate {
  margin: 1.25em;
}

@media (prefers-reduced-motion: no-preference) {
  .smolrotate {
    animation: smolrotate 10s ease-in-out infinite;
  }
}

.glow {
  box-shadow: 0 0 10px 5px var(--me);
}

@keyframes smolrotate {
  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

/* ===== HOMEPAGE ===== */

.at {
  color: var(--me-tinted);
  font-weight: bold;
}

.me {
  color: var(--me);
}

/* clever tricks "borrowed" from https://dev.to/afif/a-scalable-css-only-typewriter-effect-2opn ! */
/* but... it turns out they don't work so well with centered text. retained just in case */
/* .typing {
  display: inline-flex;
}

.typing span {
  word-break: break-all;
  height: 1.2em;
  width: 0%;
  overflow: hidden;
  animation: typewriter 3s linear 0.5s forwards;
}

.typing::before {
  content: " ";
  display: inline-block;
}

@keyframes typewriter {
  90%,
  100% {
    width: 100%;
  }
} */

/* doing this to avoid margins collapsing */
h1 {
  margin: 0;
  padding-block: 0.67em;
}

.headerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typingcursor {
  box-sizing: content-box;
  border-right: 0.15em solid var(--me);
}

.typing {
  --typetime: 0.7s;

  box-sizing: content-box;
  overflow: hidden;
  border-right: 0.15em solid var(--me);
  white-space: nowrap;

  animation: handle-typewriter var(--typetime) steps(var(--typing-len)) forwards;
}

.typing.blinking {
  animation:
    handle-typewriter var(--typetime) steps(var(--typing-len)) forwards,
    caretBlink 1s step-end infinite;
}

@keyframes handle-typewriter {
  0% {
    width: 0;
  }
  100% {
    width: calc(var(--typing-len) * 1ch);
  }
}

@keyframes caretBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--me);
  }
}

/* blink in animation (like an old neon sign). disabled for now because it seems
   more distracting than anything right now honestly lol ;w; */
/* main {
  opacity: 0;
  animation: opacity-easeOutElastic 0.75s linear 1.5s reverse forwards;
} */

/* oh. that's long. thanks mr. https://easings.net/#easeOutElastic */
@keyframes opacity-easeOutElastic {
  0% {
    opacity: 1;
  }

  16% {
    opacity: -0.32;
  }

  28% {
    opacity: 0.13;
  }

  44% {
    opacity: -0.05;
  }

  59% {
    opacity: 0.02;
  }

  73% {
    opacity: -0.01;
  }

  88% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.longguy {
  display: block;
  background: transparent;
  border: solid;
  border-radius: 2px;
  padding: 1em;
  margin: 1em;

  min-width: 15em;

  text-decoration: none;
}

.longguy * {
  color: inherit;
  vertical-align: middle;
}

.longguy i {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.attribution {
  font-size: 0.8em;
  margin: 10px;
  align-self: flex-end;

  /* potentially move into @media (orientation: landscape)? */
  /* position: absolute;
  right: 0;
  bottom: 0; */

  /* line-height: 0.5em; */
}

.attribution * {
  color: var(--darker-text);
  margin: 0;
}

/* ===== ABOUT ===== */
.aboutflex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin: 1em;

  gap: 4em;

  width: 90%;
}

.aboutflex > section {
  /* border: 2px solid var(--me); */
  padding: 2em;

  /* background-image: radial-gradient(ellipse at center, var(--me) 0, rgb(from var(--me) r g b / 0.4) 100%); */
  border-radius: 25px;
  box-shadow: 0 0 15px 5px var(--me);
}

/* .aboutflex li + li {
  margin-top: 0.25em;
} */

.tag {
  display: inline-block;
  background-color: var(--light);
  padding: 0.25em;
  border-radius: 0.5em;

  color: black;
}

.langlist {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.langlist ul {
  list-style: none;
}

.langlist ul li {
  position: relative;
  padding-left: 1em;
}

.langlist ul li::before {
  content: "->";
  color: var(--darker-text);
  /* margin-right: 1em; */

  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

.langlist li i {
  margin-right: 0.5em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

.langlist li + li {
  margin-top: 0.25em;
}

.projectlist {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 1em;

  text-align: left;
}

.projectlist > li {
  background-color: var(--highlight);
  border: 0.25em solid var(--me);
  border-radius: 4px;
  padding: 1em;

  max-width: 30em;
}

.projectlist h3 {
  margin-top: 0;
  margin-block-end: 0.5em;
  text-align: right;
}

.projectlist .links {
  margin-block-end: 0.5em;
  text-align: right;
}

.projinfo {
  text-align: right;
}

.projectlogo {
  float: left;
  width: 5em;
  margin-bottom: 1em;

  border-radius: 1.5em;
  corner-shape: squircle;
}

.projectlist p:not(.projinfo) {
  clear: both;
}

.sub {
  font-size: smaller;
  color: var(--dark-text);
}

.sub li {
  color: inherit;
}
